
h1{
    color:rgb(236, 7, 7);
    text-align: center;
    background-color:orange;
}
p{
    color:brown;
}
h3{
    color:blueviolet;
}
h2{
    color:blue;
}
th{
    color:deeppink;
}
input{
    color:red;
    background-color:white;
}

